<p>
    Vuelos!
</p>

<div class="nav-link">
    <a [routerLink] = "['./main']">Main</a>
    <a [routerLink] = "['./mas-info']">Mas Info</a>
    <a [routerLink] = "['./vuelos', 5]">Vuelo 5</a>
</div>

<router-outlet></router-outlet>
